<h1> Make a sandwich </h1>
<form action=<%= subs_url %> method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>Title
        <input name="sub[title]" value="<%= @sub.title %>">
    </label>

    <label>Description
        <input name="sub[description]" value="<%= @sub.description %>">
    </label>
    
    <button type="submit">Create!</button>
</form>